p {
    margin:37px;
    text-align: center;
    color: #ffffff99;
    font-size: 18px;
  }
  
  h1 {
    color: #fff;
    //font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
  }
  
  img {
    margin-bottom: 1em;
    margin: 27px 0 0;
    border-radius: 50%;
    max-width: 10em;
  }
  
  .social {
    padding: 0;
    margin: 0;
    text-align: center;
  
    li {
      list-style: none;
      display: inline-block;
      zoom: 1;
      *display: inline;
  
     a:hover, a:active, a:focus {
      outline: none;
      text-decoration: none;
     }
  
       a:hover {
        color: #da4ada;
       }
    }
  
    a {
      font-size: 22px;
      color: #fff;
      padding: 10px 20px;
      border-radius: 7px;
    }
  }