p {
  float: left;
  color: #ffffff99;
  font-size: 18px;
  text-align: start;
  padding: 0 5em;
}

.feature {
  float: left;
 // background: #323835;
  margin: 10px 0 5px 5em;;

}

.icon {
  color: #da4ada;
  font-size: 6em;
}

.text {
  float: right;
  width: 82%;
  text-align: start;
  margin-left: 13px;

  a {
    float: left;
    color: #ffffff99;
    font-size: 18px;
  }
}

h2 {
  color: #fff;
  float: left;
}
