<app-main>

  <div class="tab-content" data-content="2">

    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind
      texts.</p>

    <div class="feature">
      <fa-icon class="icon" [icon]="['fas', 'user-graduate']"></fa-icon>
      <div class="text">
        <h2>2001-2004</h2>
        <a>Far far away, behind the word mountains, far from the countries.</a>
      </div>
    </div>

    <div class="feature">
      <fa-icon class="icon" [icon]="['fas', 'user-graduate']"></fa-icon>
      <div class="text">
        <h2>2004-2008</h2>
        <a>Far far away, behind the word mountains, far from the countries.</a>
      </div>
    </div>

    <div class="feature">
      <fa-icon class="icon" [icon]="['fas', 'user-graduate']"></fa-icon>
      <div class="text">
        <h2>2008-2012</h2>
        <a>Far far away, behind the word mountains, far from the countries.</a>
      </div>
    </div>


  </div>

</app-main>
