@media screen and (max-width: 768px) {
  .menu {
    top: -7px;
  }
}

.menu {
  list-style: none;
  text-align: center;
  margin-bottom: 2em;
  position: relative;
  top: -.5em;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    zoom: 1;
    *display: inline;

    a {
      padding: 2em 1em 1em 1em;
      position: relative;
      color: rgba(255, 255, 255, 0.5);
      z-index: 10;
      display: inline-block;
      transition: 0.3s;

      .icon {
        display: block;
        font-size: 22px;
        bottom: 0;
      }

      .menu-text {
        display: block;
        transition: 0.5s;
      }
    }
    

  }
}



.menu li a:after {
  position: absolute;
  content: "";
  height: 0;
  background: #da4ada;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 7px;
}
.menu li a:hover {
  color: #fff;
  text-decoration: none;
}
.menu li a:hover .icon {
  bottom: 10px;
}

.menu li a:hover:after {
  height: 100%;
}

